<!DOCTYPE html>
<!--<meta http-equiv="X-Frame-Options" content="allow-from">-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {#  注意引入文件的方式  #}
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/style/admin.css" media="all">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/echarts/echarts.min.js"></script>



</head>
<body>
    {% block chkpcl_V2 %}

<!--    填入具体内容-->

    {% endblock chkpcl_V2 %}
</body>
</html>