{% extends "base.html" %}
{% block content %}

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <!--        <div class="layui-col-md8">-->
            <div class="layui-col-md12">
                <div class="layui-row layui-col-space15">
                    <div name='快速通道' class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">快速通道</div>
                            <div class="layui-card-body">

                                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                    <div carousel-item>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs3">
                                                <a href="http://163.1.6.40:19099/zabbix/index.php?reconnect=1&form=default"
                                                   target="_blank">
                                                    <i class="layui-icon layui-icon-console"></i>
                                                    <cite>Zabbix-告警平台</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="http://163.1.6.40:19094/d/mxr0UYgZk/dan-xing-fen-xi-ding-wei-cha-kan?orgId=1"
                                                   target="_blank">
                                                    <i class="layui-icon layui-icon-chart"></i>
                                                    <cite>Grafana-监控平台</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="http://10.32.11.230/readydesk-UIServer/login.jsp"
                                                   target="_blank">
                                                    <i class="layui-icon layui-icon-survey"></i>
                                                    <cite>ITSM-工单</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="https://exmail.qq.com/login" target="_blank">
                                                    <i class="layui-icon layui-icon-template-1"></i>
                                                    <cite>企业邮箱</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="http://168.7.56.216:8080/kyxjc/tTree/showTree.do"
                                                   target="_blank">
                                                    <i class="layui-icon layui-icon-chat"></i>
                                                    <cite>可用性监控</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="https://www.processon.com/view/link/5cee22fae4b019115f81144a"
                                                   target="_blank">
                                                    <i class="layui-icon layui-icon-find-fill"></i>
                                                    <cite>各种账号申请</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="http://10.32.11.8/yffwpt/login/login.do" target="_blank">
                                                    <i class="layui-icon layui-icon-user"></i>
                                                    <cite>研发管理平台</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="http://163.2.255.10/easycall" target="_blank">
                                                    <i class="layui-icon layui-icon-user"></i>
                                                    <cite>EASYCALL</cite>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div name='开发学习技能进阶' class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">开发学习技能进阶</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                    <div carousel-item>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs3">
                                                <a href="http://163.1.6.40:19099/myview/bak/views/index.html"
                                                   target="_blank">
                                                    <i class="layui-icon layui-icon-user"></i>
                                                    <cite>前端样式模版</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="https://www.layui.com/doc/" target="_blank">
                                                    <i class="layui-icon layui-icon-template-1"></i>
                                                    <cite>layui文档</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="https://www.layui.com/demo/" target="_blank">
                                                    <i class="layui-icon layui-icon-template-1"></i>
                                                    <cite>layui示例</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="http://zh.bingovue.com/" target="_blank">
                                                    <i class="layui-icon layui-icon-chart"></i>
                                                    <cite>bingovue</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="https://www.processon.com/" target="_blank">
                                                    <i class="layui-icon layui-icon-chart"></i>
                                                    <cite>processon在线制图</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="https://docs.python.org/zh-cn/3.7/tutorial/index.html"
                                                   target="_blank">
                                                    <i class="layui-icon layui-icon-chart"></i>
                                                    <cite>Python 教程</cite>
                                                </a>
                                            </li>

                                            <li class="layui-col-xs3">
                                                <a href="https://docs.qq.com/desktop/?_from=1" target="_blank">
                                                    <i class="layui-icon layui-icon-find-fill"></i>
                                                    <cite>腾讯文档</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="https://unbug.github.io/codelf/" target="_blank">
                                                    <i class="layui-icon layui-icon-find-fill"></i>
                                                    <cite>一个神奇的地方</cite>
                                                </a>
                                            </li>

                                        </ul>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs3">
                                                <a href="https://myview.worktile.com" target="_blank"><i
                                                        class="layui-icon layui-icon-user"></i><cite>worktile</cite></a>
                                            </li>
                                        </ul>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-row layui-col-space15">
                </div>
            </div>


            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">数据概览</div>
                    <div class="layui-card-body">
                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                             lay-filter="LAY-index-dataview">
                            <div carousel-item id="LAY-index-dataview">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div name='最新更新' class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        最近更新
                        <!--                    <a lay-href="" class="layui-a-tips">全部更新</a>-->
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs12 layui-col-sm4">
                                <div class="layuiadmin-card-text">
                                    <div class="layui-text-top"><i class="layui-icon layui-icon-form"></i><a
                                            lay-href="">小鲲网盘上线运行</a></div>
                                    <p class="layui-text-center">我们自已的网盘：安全、方便</p>
                                    <p class="layui-text-bottom"><a
                                            lay-href=""></a><span>2019-11-20</span>
                                    </p>
                                </div>
                            </div>
                            <div class="layui-col-xs12 layui-col-sm4">
                                <div class="layuiadmin-card-text">
                                    <div class="layui-text-top"><i class="layui-icon layui-icon-form"></i><a
                                            lay-href="">鲲鹏自动化版本部署功能上线</a></div>
                                    <p class="layui-text-center">
                                        软件下发流程：<br>
                                        版本制作 --> 审核 --> 批量下发 --> 结果查看</p>
                                    <p class="layui-text-bottom"><a
                                            lay-href=""></a><span>2019-10-10</span>
                                    </p>
                                </div>
                            </div>
                            <div class="layui-col-xs12 layui-col-sm4">
                                <div class="layuiadmin-card-text">
                                    <div class="layui-text-top"><i class="layui-icon layui-icon-form"></i><a
                                            lay-href="">新功能上线</a></div>
                                    <p class="layui-text-center">征信报送情况WEB看板上线</p>
                                    <p class="layui-text-bottom"><a
                                            lay-href=""></a><span>2019-05-28</span>
                                    </p>
                                </div>
                            </div>
                            <div class="layui-col-xs12 layui-col-sm4">
                                <div class="layuiadmin-card-text">
                                    <div class="layui-text-top"><i class="layui-icon layui-icon-form"></i><a
                                            lay-href="">团队成立</a></div>
                                    <p class="layui-text-center">自动化小组正式成立：）</p>
                                    <p class="layui-text-bottom"><a
                                            lay-href=""></a><span>2019-05-20</span>
                                    </p>
                                </div>
                            </div>
                            <div class="layui-col-xs12 layui-col-sm4">
                                <div class="layuiadmin-card-text">
                                    <div class="layui-text-top"><i class="layui-icon layui-icon-water"></i><a
                                            lay-href="">统一门户建立</a></div>
                                    <p class="layui-text-center">兴业数金鲲鹏管理平台统一门户平台与2019年5月17日正试建立@_@!!</p>
                                    <p class="layui-text-bottom"><a lay-href=""></a><span>2019-05-17</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

