{% extends "sjtq_cib/base.html" %}
{% block content %}

<form class="layui-form" action="" lay-filter="example">

    <div class="layui-form-item">
        {% for line in data %}
        {% if line.type == "D" %}
        <div class="layui-inline">
                <label class="layui-form-label">{{line.title_ch}}</label>
                <div class="layui-input-inline ">
                    <input type="text" class="layui-input param_date" id="date" name="{{line.title}}" placeholder="YYYY-MM-DD"
                           autocomplete="off">

                </div>
        </div>
        {% else %}
        <div class="layui-inline">
            <label class="layui-form-label">{{line.title_ch}}</label>
            <div class="layui-input-inline">
                <input type="text" name="params" placeholder="表名.rq"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
            {% endif %}

            {% endfor %}

        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="doSjtq">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>

   </div>

</form>

      <pre class="layui-code" lay-title="Shell" >
          {{ code }}
      </pre>


<script>
    layui.config({
        base: '/static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['table', 'laydate','form','code'], function () {
        var $ = layui.jquery
            , table = layui.table
            , form = layui.form
            , laydate = layui.laydate;
        layui.code();


        var res = {{data|safe}}
         var init_date2 = '{{date}}'
        console.log(init_date2)
        // console.log(typeof init_date2)
        // init_date = String(init_date2)
        // console.log(init_date)
        // console.log(typeof init_date)
        // console.log("after res")


  lay('.param_date').each(function(){
    laydate.render({
      elem: this
      ,trigger: 'click'
        ,value: '{{date}}'
    });
  });

             form.on('submit(doSjtq)', function(data){
    layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })
    return false;
  });

          // console.log(res)
    // console.log(res[0].type)

    });
</script>
{% endblock %}