{% extends "qq_data/base.html" %}
{% block content %}

    <form class="layui-form" action="" lay-filter="example">


        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">起始日期</label>
                <div class="layui-input-block">
                    <input type="text" name="start_date" id="start_date" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结束日期</label>
                <div class="layui-input-block">
                    <input type="text" name="end_date" id="end_date" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

        </div>

        <div class="layui-inline">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">数据分析</button>
        </div>
    </form>

    <div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <!--<div class="layui-card-header">标题</div>-->
                        <div class="layui-card-body" style="height:800px">
                            <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-1">
                                <div carousel-item id="LAY-index-1" style="height:800px">
                                    <div style="height:800px"><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--
    <script src="/static/modules/senior.js"></script>
-->
    <script>
        layui.config({
            base: '/static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'qq_data_search_problem'])


    </script>

{% endblock %}