{% extends "data_api/base.html" %}
{% block content %}

    <form class="layui-form" action="" lay-filter="example">

        <blockquote class="layui-elem-quote layui-text">
            欢迎使用鲲鹏数据中台，我们为您提供方便的 data_api 服务：）
            <br>目前支持 python、javascript 前后双端调用
            <br>参数命名规则：
            <br>must - 必输项   comm - 可选项
            <br>s - 字符串   i - 整形   d - 浮点形
        </blockquote>

        <table class="layui-hide" id="table_api_menu" lay-filter="table_api_menu"></table>

    </form>

    <script>
        layui.config({
            base: '/static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['table', 'upload', 'layer'], function () {
            var $ = layui.jquery
                , table = layui.table
                , layer = layui.layer;


            table.render({
                elem: '#table_api_menu'
                , url: 'api_menu/'
                , cols: [[ //标题栏
                    {field: 'id', title: 'ID', width: 80, sort: true}
                    , {field: 'text', title: '说明', width: '30%'}
                    , {field: 'url', title: 'URL', width: '30%'}
                    , {field: 'par', title: '参数', width: '25%', edit: 'text'}
                    , {field: 'dev_oper', title: '开发者', width: '10%', edit: 'text'}
                ]]
                /*
                , data: [{
                    "id": "10001"
                    , "url": 'http://163.1.6.40:19096/data_api/helloworld/'
                    , "text": "教程测试使用"
                    , "par": '{"aaa":1, "bbb":2}'
                }]

                 */
                //,skin: 'line' //表格风格
                , even: true
                //,page: true //是否显示分页
                //,limits: [5, 7, 10]
                //,limit: 5 //每页默认显示的数量
            });

            //监听行单击事件（双击事件为：rowDouble） row 单击
            table.on('rowDouble(table_api_menu)', function (obj) {
                var data = obj.data;
/*
                layer.alert(JSON.stringify(data), {
                    title: '当前行数据：'
                });

 */
                // console.log(data);
                console.log('开始进行API调用：' + data.url);
                console.log('url传入参数：');
                url_par = JSON.parse(data.par);
                console.log(url_par);
                post_data = {
                    url: data.url
                    , par: url_par

                };


                // console.log(post_data);
                // console.log({data: JSON.stringify(post_data)});

                var date1 = new Date();
                var index = layer.load(1);
                $.post('api_run/',
                    //JSON.stringify(post_data),
                    {data: JSON.stringify(post_data)},
                    function (res, status) {
                        //console.log("Data: " + res + "\nStatus: " + status);
                        var date2 = new Date();
                        date3 = date2 - date1;
                        console.log('API调用耗时[' + date3 + '毫秒]得到后台返回结果：');
                        console.log(res);
                        if ( res.code === 0 ){
                            api_resp = 'API调用成功，耗时' + date3 + '毫秒，请按F12在浏览器开发者工具中查看API返回结果：）';
                        }
                        layer.msg(api_resp, {
                            time: 60000, //20s后自动关闭
                            btn: ['知道了']
                        });
                        console.log('-----调用完成-----');
                        console.log('');
                        layer.close(index);
                    }
                );

                //标注选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            });

        });
    </script>
{% endblock %}