{% extends "data_control/base.html" %}
{% block content %}
    <form class="layui-form" action="" lay-filter="example">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">系统选择</label>
                <div class="layui-input-inline">
                    <select name="plat_id" lay-verify="required" lay-filter="select_filter">
                        {% for line in plat_list %}
                            <option value="{{ line.plat_id }}">{{ line.plat_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">银行选择</label>
                <div class="layui-input-inline">
                    <select name="bank_id" lay-verify="required" lay-search="" lay-filter="select_filter2">
                        <option value="">输入中文或缩写</option>
                        {% for line in bank_list %}
                            <option value="{{ line.ver }}:{{ line.name }}:{{ line.name_ch }}:{{ line.ip }}">{{ line.ver }}_{{ line.name }}_{{ line.name_ch }}</option>
                        {% endfor %}
                    </select></div>
            </div>
        </div>

        <blockquote class="layui-elem-quote layui-text">
            暂时不支持中文文件名，请命名时暂不要使用中文。文件内容中的中文不影响。
        </blockquote>
        <div class="layui-form-item">
            <label class="layui-form-label">核心全路径</label>
            <div class="layui-input-block">
                <input type="text" name="file_name1" lay-verify="title" autocomplete="off" placeholder="请完整输入数据文件全路径"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submit1">载入数据文件</button>
                {#            <button type="reset" class="layui-btn layui-btn-primary">重置</button>#}
            </div>
        </div>

        <!--
            <table class="layui-hide" id="data_file_table"></table>
            -->

    <!--
        <div class="layui-form-item">
            <label class="layui-form-label">数据处理</label>
            <div class="layui-input-block">
                <input type="checkbox" name="like[wjjm]" title="文件加密">
                <input type="checkbox" name="like[sjtm]" title="数据脱敏">
            </div>
        </div>
       -->

        <div class="layui-form-item">
            <label class="layui-form-label">数交全路径</label>
            <div class="layui-input-block">
                <input type="text" name="file_name2" lay-verify="title" autocomplete="off" placeholder="请完整输入数据文件全路径"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submit2">将数据文件发布至数据交换平台</button>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="default">处理流程进度</a></legend>
        </fieldset>
        <table class="layui-hide" id="resp_table"></table>

        <blockquote class="layui-elem-quote layui-text">
            文件解密方法：
            openssl smime -decrypt -in 加密文件名 -binary -inform DEM -inkey 私钥文件 -out 解密后文件名
        </blockquote>
    </form>

    <script>
        layui.config({
            base: '/static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['table', 'upload'], function () {
            var $ = layui.jquery
                , upload = layui.upload
                , table = layui.table
                , form = layui.form;


            form.val('example', {
                "file_name1": "/home/sjcx/{{ user_name }}/" // "name": "value"
                , "file_name2": "/home/sjtq/{{ date }}/"
                , "like[wjjm]": true //复选框选中状态
                // 测试使用
                // , "bank_id": "BYDX"
                // , "file_name1": "/home/sjcx/yanglei/20171122/jkdbcsb.init.unl" // "name": "value"
            });

            table.render({
                elem: '#data_file_table'
                // , url: '/demo/table/user/'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    {field: 'file_name', width: '40%', title: '文件名'}
                    , {field: 'file_size', width: '10%', title: '大小'}
                    , {field: 'update_date', width: '15%', title: '更新时间'}
                    , {field: 'stat', width: '15%', title: '查询状态'}
                ]]
                , data: []
            });

            function table_reload() {
                table.reload('test', {
                    url: 'get_file_info/'
                });
            }

            step_data = [
                {step_id: 'load', step_name: '数据加载', step_stat: '未处理'}
                , {step_id: 'key', step_name: '密钥状态', step_stat: '未处理'}
                , {step_id: 'enc', step_name: '加密文件', step_stat: '未处理'}
                , {step_id: 'enc_file', step_name: '加密文件名', step_stat: '未处理'}
                , {step_id: 'put', step_name: '传输', step_stat: '未处理'}
            ];

            table.render({
                elem: '#resp_table'
                // , url: '/demo/table/user/'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    {field: 'step_name', width: '40%', title: '流程'}
                    , {field: 'step_stat', width: '40%', title: '状态'}
                ]]
                , data: step_data
            });

            function update_stat(data) {
                for (i = 0; i < step_data.length; i++) {
                    // console.log(step_data[i].step_id);
                    if (step_data[i].step_id === data.id) {
                        step_data[i].step_stat = data.msg;
                    }
                }
                table.reload('resp_table', {
                    data: step_data
                });
            }

            //监听提交 第一次提交 加载数据文件
            file_data = {};
            step = 0;
            form.on('submit(submit1)', function (data) {
                console.log(JSON.stringify(data.field));
                /*
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                 */
                public_data = {};
                plat_id = data.field.plat_id;
                bank_id = data.field.bank_id;
                index = layer.load(1);
                $.post("get_file_info/",
                    data.field,
                    function (data, status) {
                        table.reload('data_file_table', {
                            data: [data.table_data]
                        });

                        if (data.code === 0) {
                            step = 1;
                            public_data = {
                                enc_file_name: data.enc_file
                                , file_name:data.table_data.file_name
                                , plat_id: plat_id
                                , bank_id: bank_id
                                , file_data: data.table_data
                            };
                        } else {
                            step = 0;
                            public_data = {};
                        }
                        update_stat({id: 'load', msg: data.msg.file});
                        update_stat({id: 'key', msg: data.msg.key});
                        update_stat({id: 'enc', msg: data.msg.enc});
                        update_stat({id: 'enc_file', msg: data.enc_file});
                        update_stat({id: 'put', msg: '未处理'});
                        console.log("Data: " + data + "\nStatus: " + status);
                        console.log(data);
                        layer.close(index);
                    }
                );
                return false;
            });

            //监听提交
            form.on('submit(submit2)', function (data) {
                console.log(step);
                if (step !== 1) {
                    layer.msg('未正常加载数据', {
                        time: 5000, //20s后自动关闭
                    });
                } else {
                    public_data['fib_path'] = data.field.file_name2;
                    index = layer.load(1);
                    $.post("data_put/",
                        public_data,
                        function (data, status) {

                            update_stat({id: 'put', msg: data.msg.file});
                            {#update_stat({id: 'key', msg: data.msg.key});#}
                            {#update_stat({id: 'enc', msg: data.msg.enc});#}
                            {#update_stat({id: 'enc_file', msg: data.enc_file});#}
                            console.log("Data: " + data + "\nStatus: " + status);
                            console.log(data);
                            layer.close(index);
                            layer.msg(data.msg.file, {
                                time: 5000, //20s后自动关闭
                            });
                        }
                    );
                }
                console.log(file_data);
                return false;
            });
        });
    </script>
{% endblock %}