<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
    <script type="text/javascript" src="/static/app/xysj_nzjs/js/jquery.js"></script>
    <script type="text/javascript" src="/static/app/xysj_nzjs/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/app/xysj_nzjs/js/js.js"></script>
    <script type="text/javascript" src="/static/app/xysj_nzjs/js/jquery.limarquee.js"></script>
    <script type="text/javascript" src="/static/app/xysj_nzjs/js/jquery.cxselect.min.js"></script>

    <link rel="stylesheet" href="/static/app/xysj_nzjs/css/comon0.css">
</head>
<body>
<div style="background:#000e57 url(/static/app/xysj_nzjs/images/bg.jpg) center top">
    <div class="loading">
        <div class="loadbox"><img src="/static/app/xysj_nzjs/picture/loading.gif"> 页面加载中...</div>
    </div>
    <div class="back"></div>
    <div class="head">
        <div class="weather"><span id="showTime"></span></div>
<!--        <div class="logtitile";align="center"><span>兴业数金年终决算汇总</span></div>-->
        <h1>兴业数金年终决算</h1>

    </div>
    <script>
        var t = null;
        t = setTimeout(time, 1000);//開始运行
        function time() {
            clearTimeout(t);//清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();//获取时
            var m = dt.getMinutes();//获取分
            var s = dt.getSeconds();//获取秒
            document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "日" + h + "时" + m + "分" + s + "秒";
            t = setTimeout(time, 1000); //设定定时器，循环运行
        }

    </script>
    <div class="mainbox">
        <ul class="clearfix">
            <li>
<!--                <div class="boxall" style="height:400px;">-->
<!--                    <div class="alltitle">标题样式1</div>-->
<!--                    <div class="navboxall" id="echart5"></div>-->
<!--                </div>-->
                <div class="boxall" style="height:960px;">
                    <div class="alltitle">完成银行</div>
                    <div class="navboxall">
                        <div class="wraptit">
                            <span>银行名称</span><span>版本</span><span>操作人</span>
                        </div>
                        <div class="wrap">
                            <ul id="yh_demo">
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <!--<li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>-->
                                <!--<li><p><span>100021415</span><span>232</span><span>手机</span><span>18小时</span></p></li>-->
                                <!--<li><p><span>100021415</span><span>3</span><span>手机</span><span>18小时</span></p></li>-->
                                <!--<li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>-->
                                <!--<li><p><span>100021415</span><span>232</span><span>手机</span><span>18小时</span></p></li>-->
                                <!--<li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>-->
                                <!--<li><p><span>100021415</span><span>1912</span><span>手机</span><span>18小时</span></p></li>-->

                            </ul>
                        </div>

                    </div>
                </div>
<!--                <div class="boxall" style="height:260px;">-->
<!--                        <div class="alltitle">标题样式3</div>-->

<!--                       <div class="navboxall" id="echart1"></div>-->
<!--                      </div>-->
            </li>
            <li>

                <div class="boxall" style="height:230px">
                    <div class="clearfix navboxall" style="height: 100%">
                        <div class="pulll_left num">
                            <div class="numbt">年终决算总进度<span></span></div>
                            <div class="numtxt" id="test2">19382721</div>
                        </div>
                        <div class="pulll_right zhibiao">
                            <div class="zb1"><span>V2核心</span>
                                <div id="zb1"></div>
                            </div>
                            <div class="zb2"><span>V3P核心</span>
                                <div id="zb2"></div>
                            </div>
                            <div class="zb3"><span>V3核心</span>
                                <div id="zb3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxall" style="height:720px">
                    <div class="alltitle">批处理进度</div>
                    <div class="navboxall" id="echart4"></div>

                </div>
<!--                <div class="boxall" style="height:340px">-->
<!--                    <div class="alltitle">标题样式9</div>-->
<!--                    <div class="navboxall" id="echart3"></div>-->
<!--                </div>-->
            </li>
            <li>
                <div class="boxall" style="height:300px">
                    <div class="alltitle">标题样式10</div>
                    <div class="navboxall">
                        <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th scope="col">排名</th>
                                <th scope="col">公司</th>
                                <th scope="col">数量</th>
                                <th scope="col">增长率</th>
                            </tr>
                            <tr>
                                <td><span>1</span></td>
                                <td>XXX</td>
                                <td>114万<br></td>
                                <td>100%<br></td>
                            </tr>
                            <tr>
                                <td><span>2</span></td>
                                <td>XXX</td>
                                <td>923823万</td>
                                <td>21%</td>
                            </tr>

                            <tr>
                                <td><span>3</span></td>
                                <td>XXX</td>
                                <td>1240253万</td>
                                <td>12%</td>
                            </tr>
                            <tr>
                                <td><span>4</span></td>
                                <td>XXX</td>
                                <td>1.2亿</td>
                                <td>39%</td>
                            </tr>
                            <tr>
                                <td><span>5</span></td>
                                <td>XXX</td>
                                <td>13423万</td>
                                <td>9%</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="boxall" style="height: 300px">
                    <div class="alltitle">标题样式11</div>
                    <div class="navboxall">
                        <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th scope="col">排名</th>
                                <th scope="col">公司</th>
                                <th scope="col">数量</th>
                                <th scope="col">增长率</th>
                            </tr>
                            <tr>
                                <td><span>1</span></td>
                                <td>XXX</td>
                                <td>114万<br></td>
                                <td>100%<br></td>
                            </tr>
                            <tr>
                                <td><span>2</span></td>
                                <td>XXX</td>
                                <td>923823万</td>
                                <td>21%</td>
                            </tr>

                            <tr>
                                <td><span>3</span></td>
                                <td>XXX</td>
                                <td>1240253万</td>
                                <td>12%</td>
                            </tr>
                            <tr>
                                <td><span>4</span></td>
                                <td>XXX</td>
                                <td>1.2亿</td>
                                <td>39%</td>
                            </tr>
                            <tr>
                                <td><span>5</span></td>
                                <td>XXX</td>
                                <td>13423万</td>
                                <td>9%</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="boxall" style="height:320px">
                    <div class="alltitle">标题样式12</div>
                    <div class="navboxall" id="echart2"></div>
                </div>


            </li>
        </ul>

    </div>
</div>

<script>

    function setValue() {
        var rnd = "";
        rnd = Math.floor(Math.random() * 1000000) + "台";
        $('#test1').html(rnd);
    }

    setValue();
    setInterval("setValue()", 1000);


    document.getElementById("test2").innerHTML = "95%"

    text='<li><p><span>库尔勒商行</span><span>V3PLUS</span><span>杨辉</span></p></li>' +
        '<li><p><span>隆德六盘山</span><span>V2</span><span>费学彬</span></p></li>'
    document.getElementById("yh_demo").innerHTML = text


    $(function () {
        $('.wrap,.adduser').liMarquee({
            direction: 'up',//身上滚动
            runshort: true,//内容不足时不滚动
            scrollamount: 150//速度
        });
    });

</script>

</body>
</html>
