{% extends "trans_zl_helloworld/base.html" %}
{% block content %}

</br>
<blockquote class="layui-elem-quote layui-text">
    运营看板——事项提交
    <!--<a href="#">如何提问？</a>-->
</blockquote>

<form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">运营事项</label>
            <div class="layui-input-inline">
                <input type="text" name="title" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">影响合作行</label>
            <div class="layui-input-inline">
                <input type="text" name="banknames" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">上报原因</label>
            <div class="layui-input-inline">
                <input type="text" name="reason" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">处理人</label>
            <div class="layui-input-inline">
                <input type="text" name="deal_person" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">协助部门（若有）</label>
            <div class="layui-input-inline">
                <input type="text" name="support_org" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">困难（若有）</label>
            <div class="layui-input-inline">
                <input type="text" name="diffcult" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">期望解决时间</label>
            <div class="layui-input-inline">
                <input type="text" name="want_date" id="want_date" lay-verify="required" lay-verify="datetime" placeholder="yyyy-MM-dd HH:mm" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">当前状态</label>
            <div class="layui-input-inline">
                <select name="stat">
                    <option value="">请选择</option>
                    {% for line in stat_list_json %}
                    <option value="{{ line.stat_name }}">{{ line.stat_name }}</option>
                    {% endfor %}
                    <!--<option value="">请选择</option>-->
                    <!--<option value="QQ">处理中</option>-->
                    <!--<option value="WX">有困难</option>-->
                    <!--<option value="NB">已完成</option>-->
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item" hidden="true">
        <label class="layui-form-label">详细信息</label>
        <div class="layui-input-block">
            <textarea id="fwb_text" style="display: none;"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

<style>
    .layui-form-label {
        float: left;
        display: block;
        width: 150px;
        font-weight: 400;
    }
</style>

<table id="demo" lay-filter="test"></table>


{{ req.date }}
<script>
    layui.config({
        base: '/static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['table', 'upload', 'form', 'layedit', 'element', 'layer', 'laydate'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , form = layui.form
            , layedit = layui.layedit
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , table = layui.table;

        var index = layedit.build('fwb_text'); //建立编辑器
        //日期
        laydate.render({
            elem: '#want_date'
            , type: 'datetime'
            , format: 'yyyy-MM-dd HH:mm' //可任意组合 yyyy年MM月dd日 HH时mm分ss秒===2017年08月18日 20时08分08秒，'yyyy/mm/dd'
            , value: '2020-01-01 18:00' //必须遵循format参数设定的格式String，默认值：new Date()
        });

        //赋默认值
        form.val('example', {
            //"date": "2019-06-27" // "name": "value"
            "date": "{{ date }}"
        })


        //监听提交
        form.on('submit(demo1)', function (data) {
            console.log(layedit.getContent(index));
            console.log(data);
            req_data = {
                input_data: JSON.stringify(data.field)
            };

            $.post("add_submit/",
                req_data,
                function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    console.log(data);

                    layer.msg(data.msg, {
                        time: 60000, //20s后自动关闭
                        btn: ['知道了']
                    });

                }
            );
            return false;
        });

    });
</script>
{% endblock %}