{% extends "trans_zl_helloworld/base.html" %}
{% block content %}

</br>
<form class="layui-form" action="" lay-filter="example">

    <div class="layui-form-item">
        <div class="layui-inline layui-hide">
            <label class="layui-form-label">上报日期</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="date" placeholder="YYYY-MM-DD" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline ">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="stat" lay-verify="required" lay-search="">
                    {% for line in stat_list_json %}
                    <option value="{{ line.stat_name }}">{{ line.stat_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="transSearch">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<table id="demo" lay-filter="test"></table>

{% verbatim %}
<script type="text/html" id="stat">
    {{# var data = d.t_stat ; }}
    {{# if(data == '已完成'){ console.log(data) }}
    <span style="background-color: #69f590;">{{ data }}</span>
    {{#  } else if(data == '处理中'){ }}
    <span style="background-color: #f5df50">{{ data }}</span>
    {{#  } else if(data == '有困难'){ }}
    <span style="background-color: #FF8000">{{ data }}</span>
    {{#  } else { }}
    <span style="background-color: #f51346;color: #f5ebf5;">{{ data }}</span>
    {{#  } }}
</script>
<script type="text/html" id="type">
    {{# var data = d.t_type ; }}
    {{# if(data == '事件'){ console.log(data) }}
    <span style="background-color: #CF9E9E;">{{ data }}</span>
    {{#  } else if(data == '一般变更'  ){ }}
    <span style="background-color: #C7C7E2">{{ data }}</span>
    {{#  } else if(data == '软件更新' ){ }}
    <span style="background-color: #A3D1D1">{{ data }}</span>
    {{#  } else if( data == '需求' ){ }}
    <span style="background-color: #CCFF80">{{ data }}</span>
    {{#  } else if(data == '重大变更' ){ }}
    <span style="background-color: #9999CC">{{ data }}</span>
    {{#  } else if(data == '投诉'  ){ }}
    <span style="background-color: #AD5A5A">{{ data }}</span>
    {{#  } else { }}
    <span style="background-color: #f51346;color: #f5ebf5;">{{ data }}</span>
    {{#  } }}
</script>
<script type="text/html" id="zycd">
    {{# var data = d.t_zycd; }}
    {{# if(data == '高度'){ console.log(data) }}
    <span style="background-color: #FFD306;">{{ data }}</span>
    {{#  } else if(data == '中等'  ){ }}
    <span style="background-color: #FFFFB9">{{ data }}</span>
    {{#  } else { }}
    <span style="background-color: #FFFFDF;">{{ data }}</span>
    {{#  } }}
</script>
<script type="text/html" id="jjcd">
    {{# var data = d.t_jjcd; }}
    {{# if(data == '高度'){ console.log(data) }}
    <span style="background-color: #FFD306;">{{ data }}</span>
    {{#  } else if(data == '中等'){ }}
    <span style="background-color: #FFFFB9">{{ data }}</span>
    {{#  } else { }}
    <span style="background-color: #FFFFDF;">{{ data }}</span>
    {{#  } }}
</script>
<script type="text/html" id="rowoper">
    <a class="layui-btn layui-btn-xs" lay-event="query">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
    {{# var data = d.stat ; }}
    {{# if(data == '已完成'){ console.log(data) }}
    <!--<a class="layui-btn layui-btn-xs"></a>-->
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs" lay-event="modify">修改</a>
    {{#  } }}
</script>
{% endverbatim %}

{{ req.date }}
<script>
    //一般直接写在一个js文件中
    layui.config({
        base: '/static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['layer', 'form', 'element', 'table', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            , $ = layui.jquery;

        //日期
        // {#laydate.render({#}
        // {#    elem: '#date'#}
        // {#});#}


        //赋默认值
        form.val('example', {
            //"date": "2019-06-27" // "name": "value"
            "date": "{{ date }}"
        });
        // var index = layer.load(0);

        var exportData = [];

        tableField = [ //表头
            {field: 'title', title: '运营事项', width: 350, sort: true, fixed: 'left'}
            , {field: 'banknames', title: '影响合作行', width: 150, sort: true}
            , {field: 'reason', title: '上报原因', width: 150, sort: true,}
            , {field: 'deal_person', title: '处理人', width: 100, sort: true,}
            , {field: 't_team', title: '处理团队', width: 100, sort: true,}
            , {field: 'support_org', title: '协助部门', width: 120, sort: true,}
            , {field: 't_stat', title: '当前状态', width: 120, sort: true, templet: '#stat'}
            , {field: 't_type', title: '类型', width: 120, sort: true, templet: '#type'}
            , {field: 't_zycd', title: '重要程度', width: 120, sort: true, templet: '#zycd'}
            , {field: 't_jjcd', title: '紧急程度', width: 120, sort: true, templet: '#jjcd'}
            , {field: 'diffcult', title: '困难', width: 180, sort: true,}
            , {field: 'beizhu', title: '备注', width: 180, sort: true,}
            , {field: 'submit_date', title: '提交时间', width: 200, sort: true}
            , {field: 'want_date', title: '期望解决时间', width: 200, sort: true,}
            , {field: 'close_date', title: '完成时间', width: 200, sort: true,}
            , {fixed: 'right', title: '操作', width: 210, toolbar: '#rowoper',}
        ];

        showsomething();

        function showsomething() {
            $.post("show2",
                {"date": "", "stat": "全部"},
                function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    console.log(data);
                    exportData = data;
                    table.render({
                        elem: '#demo'
                        // , height: 2500
                        , toolbar: '#toolbarDemo'
                        , defaultToolbar: ['filter', 'exports', 'print']
                        //, url: 'post' //数据接口
                        // , initSort: {field:'count_banknologin', type:'desc'}
                        , limits: [10, 20, 30, 50, 100, 500, 1000]
                        , page: true //开启分页
                        , cols: [tableField]
                        , data: data.data
                    });
                }
            );
        }

        //监听提交
        form.on('submit(transSearch)', function (data) {
//            layer.msg(JSON.stringify(data.field));
            console.log(JSON.stringify(data.field));
            obj_data = data.field;
            var index = layer.load(0);
            $.post("show2",
                data.field,
                function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    console.log(data);
                    exportData = data;
                    table.render({
                        elem: '#demo'
                        // , height: 2500
                        , toolbar: '#toolbarDemo'
                        , defaultToolbar: ['filter', 'exports', 'print']
                        //, url: 'post' //数据接口
                        // , initSort: {field:'count_banknologin', type:'desc'}
                        , limits: [10, 20, 30, 50, 100, 500, 1000]
                        , page: true //开启分页
                        , cols: [tableField]
                        , data: data.data
                    });
                    layer.close(index);
                }
            );

            return false;
        });

        //第一个实例
        var table = layui.table;
        var ins1 = table.render({
            elem: '#demo'
            , height: 500
            , page: true //开启分页
            , cols: [tableField]
            , data: []
            // , done: function (res, curr, count) {
            //     exportData = res.data;
            //     alert("exportData:"+exportData)
            // }
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            console.log(obj);
            req_data = {
                row_data: JSON.stringify(obj.data)
            };
            if (obj.event == "modify") {
                console.log(obj);
                console.log('console modify');
                console.log(parent.layui);
                url = "/trans_zl_helloworld/abcd/" + obj.data.thing_id + "/update";
                console.log("url:" + url);
                title = obj.data.title;
                window.location.href = url;
                // parent.layui.index.openTabsPage(url, title);
            }
            if (obj.event == "delete") {
                console.log('console delete');
                $.post(obj.data.thing_id + "/delete",
                    {"date": "", "stat": ""},
                    function (data, status) {
                        layer.msg(data.msg, {
                            time: 60000, //20s后自动关闭
                            btn: ['知道了']
                        });
                        showsomething();
                    }
                );
            }
            if (obj.event == "query") {
                console.log(obj);
                console.log('console query');
                console.log(parent.layui);
                url = "/trans_zl_helloworld/abcd/" + obj.data.thing_id + "/query";
                console.log("url:" + url);
                title = obj.data.title;
                window.location.href = url;
                // parent.layui.index.openTabsPage(url, title);
            }
        });

    })
    ;
</script>
{% endblock %}