{% extends "monitor11/base.html" %}
{% block content %}

<body>
<div class="page" id="page">
    <div class="page-main clearfix">
        <div class="top-title clearfix">
            <img class="logo" src="/static/app/yhchart/assets/images/logo.png">
<!--            <span class="title_yh">代理网联监控</span>-->
<!--            <span class="title_yh">双十一驾驶舱</span>-->
            <span class="title_yh">双十二驾驶舱</span>
            <!--<img class="title_yh" src="/static/app/yhchart/png/11.11.png">-->
            <span class="time" id="timeclock">2018年4月23日 12:00:00  </span>
        </div>
        <div class="main-left">
            <div class="chart-section clearfix">
                <div class="chart chart-l assist-img">
                    <div id="left-1" style="width: 100%;height: 100%"></div>
                </div>
                <!--<div class="chart chart-r">-->
                <!--<div id="left-2" style="width: 100%;height: 100%"></div>-->
                <!--</div>-->
            </div>
            <div class="chart-section clearfix">
                <div class="chart-l clearfix">
                    <div class="chart chart-s">
                        <div id="left-3" style="width: 100%;height: 100%"></div>
                    </div>
                    <div class="chart chart-s margin-10 assist-img">
                        <div id="left-4" style="width: 100%;height: 100%"></div>
                    </div>
                </div>
                <!--<div class="chart-r">-->
                <!--<div class="chart chart-rl chart-m"><div id="left-5" style="width: 100%;height: 100%"></div></div>-->
                <!--<div class="chart chart-rr chart-m">-->

                <!--<div class="chart-title">分公司交易量TOP10</div>-->
                <!--<ul class="rank-list">-->
                <!--<li>-->
                <!--<span>1</span>-->
                <!--<span>江苏</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>2</span>-->
                <!--<span>浙江</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>3</span>-->
                <!--<span>厦门</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>4</span>-->
                <!--<span>福建</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>5</span>-->
                <!--<span>青岛</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>6</span>-->
                <!--<span>山东</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>7</span>-->
                <!--<span>湖北</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>8</span>-->
                <!--<span>河南</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>9</span>-->
                <!--<span>河北</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span>10</span>-->
                <!--<span>四川</span>-->
                <!--<span>99<i>万笔</i></span>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash;-->
                <!--<div class="chart chart-s margin-10 assist-img"><div id="left-6" style="width: 100%;height: 100%"></div></div>-->
                <!--&ndash;&gt;-->
                <!--</div>-->
            </div>
        </div>
        <div class="main-center">
            <div class="num">
                <div class="title">当日受理交易量</div>
                <div class="num-main">
                    <i id="num-main-box" style=" letter-spacing:20px;align:center;"></i>

                    <span class="font-s">笔</span>
                </div>

            </div>
            <div class="num">
                <div class="title">当日受理交易额:</div>
                <div class="num-main">
                    <i id="num-main-box2" style=" letter-spacing:20px;align:center;"></i>

                    <span class="font-s">元</span>
                </div>

            </div>
            <div class="chart chart-map">
                <div id="china-map" style="width: 100%;height: 100%"></div>
            </div>
        </div>
        <div class="main-right margin-10">
            <div class="chart-section clearfix">
                <div class="chartz chart-lz assist-img assist-img-lt ">
                    <div id="right-1" style="width: 100%;height: 100%"></div>
                </div>
                <div class="chartz chart-rz margin-10">
                    <div id="right-2" style="width: 100%;height: 100%"></div>
                </div>
            </div>
            <!--<div class="chart-section clearfix">-->

            <div class="chart-l margin-10">

                <div class="chart chart-s">
                    <div id="right-3" style="width: 100%;height: 100%"></div>
                </div>
                <div class="chart chart-s margin-10 assist-img assist-img-lt">
                    <div id="right-4" style="width: 100%;height: 100%"></div>
                </div>
                <!--
                  <div class="chart-r">
                  <div class="chart chart-m">
                  <div id="right-5" style="width: 100%;height: 100%"></div></div></div>
                -->

            </div>

            <div class="chart-r margin-10">
                <div class="chart chart-m assist-img assist-img-lt">
                    <div id="right-7" style="width: 100%;height: 20%"></div>
                    <div id="right-6" style="width: 90%;height: 80%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>


<!-- china-map   中国地图 引用自定义assets/china-map.js文件-->
<script>
    var dom = document.getElementById("china-map");
    var china_map_myChart = echarts.init(dom);
    var china_map_option = getChinaMapOption();
    if (china_map_option && typeof china_map_option === "object") {
        china_map_myChart.setOption(china_map_option, true);
    }
</script>


<!-- left-1 柱形图   引用自定义assets/left-1.js文件 -->
<script>
    var left_1_myChart = echarts.init(document.getElementById('left-1'));
    // var city=['13:00','13:01','13:02','13:03','13:04','13:05','13:06','13:07','13:08','13:09','13:10','13:11','13:12','13:13','13:14','13:15','13:16','13:17','13:18','13:19','13:20','13:21','13:22','13:23','13:24','13:25','13:26','13:27','13:28','13:29','13:30','13:31','13:32','13:33','13:34','13:35','13:36','13:37','13:38','13:39','13:40','13:41','13:42','13:43','13:44','13:45','13:46','13:47','13:48','13:49','13:50','13:51','13:52','13:53','13:54','13:55','13:56','13:57','13:58','13:59'];
    // var data1=[3293,3302,3262,3291,3278,3193,3268,3200,3259,3186,3188,3274,3121,3196,3156,3278,3222,3204,3185,3177,3142,3122,3135,3213,3154,3151,3160,3112,3178,3132,3117,3125,3165,3164,3093,3126,3102,3149,3111,3018,3144,3269,3163,3177,3152,3163,3142,3259,3176,3295,3162,3179,3023,3126,3092,3043,3205,3178,3170,3083];
    // var data2=[4590,4569,4505,4476,4496,4521,4548,4428,4458,4425,4402,4526,4363,4445,4409,4431,4408,4334,4427,4368,4385,4385,4353,4422,4351,4352,4388,4272,4352,4365,4419,4279,4343,4353,4285,4297,4274,4332,4356,4195,4328,4424,4397,4371,4370,4341,4314,4466,4332,4431,4327,4388,4217,4282,4227,4306,4341,4383,4273,4202];
    // var data3=[1271,1238,1209,1154,1181,1305,1255,1200,1179,1216,1191,1223,1226,1222,1225,1132,1156,1113,1220,1168,1218,1238,1191,1188,1171,1175,1199,1138,1148,1207,1279,1123,1149,1166,1169,1146,1142,1151,1209,1158,1158,1136,1209,1166,1189,1148,1143,1182,1133,1111,1131,1186,1164,1124,1103,1232,1102,1178,1079,1097];
    //
    //    var left_1_option = getLeft_1Option(city,data1,data2,data3);
    //    left_1_myChart.setOption(left_1_option);

    //    alert("aaaa")
    function getLeft1_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_L1_TransChnlMin",
            yh_data,
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                console.log(data);
//                startCount(data.startcount, data.endcount)
//                alert(data.time)
//                alert(data.wx_data)
//                alert(data.zfb_data)
//                alert(data.other_data)

                var left_1_option = getLeft_1Option(data.time, data.wx_data, data.zfb_data, data.other_data);
                left_1_myChart.setOption(left_1_option);


            }
        );
    }


</script>

<!--&lt;!&ndash; left-2    引用自定义assets/left-2.js文件 &ndash;&gt;-->
<!--<script>-->
<!--var left_2_myChart = echarts.init(document.getElementById('left-2'));-->
<!--var left_2_option = getLeft_2Option();-->
<!--left_2_myChart.setOption(left_2_option);-->
<!--</script>-->


<!-- left-3    引用自定义assets/left-3.js文件 -->
<script>
    var left_3_myChart = echarts.init(document.getElementById('left-3'));
    //    var left_3_option = getLeft_3Option();
    //    left_3_myChart.setOption(left_3_option);

    function getLeft3_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_L2_TransWeek",
            yh_data,
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                console.log(data);

                var left_3_option = getLeft_3Option(data.week_list, data.week_tot);
                left_3_myChart.setOption(left_3_option);

            }
        );
    }


</script>

<!-- left-4    引用自定义assets/left-4.js文件 -->
<script>
    var left_4_myChart = echarts.init(document.getElementById('left-4'));
    var left_4_option = getLeft_4Option();
    left_4_myChart.setOption(left_4_option);

    function getLeft4_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_L3_TransDayType",
            yh_data,
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                console.log("----------------------------------------")
                console.log(data);
                console.log("----------------------------------------")

                var left_4_option = getLeft_4Option(data.settle_date, data.date_wx_list, data.date_zfb_list, data.date_tot_list);
                left_4_myChart.setOption(left_4_option);

            }
        );
    }
</script>

<!--&lt;!&ndash; left-5    引用自定义assets/left-5.js文件 &ndash;&gt;-->
<!--<script>-->
<!--var left_5_myChart = echarts.init(document.getElementById('left-5'));-->
<!--var left_5_option = getLeft_5Option();-->
<!--left_5_myChart.setOption(left_5_option);-->
<!--</script>-->


<!--&lt;!&ndash; left-6    引用自定义assets/left-6.js文件 &ndash;&gt;-->
<!--<script>-->
<!--var left_6_myChart = echarts.init(document.getElementById('left-6'));-->
<!--var left_6_option = getLeft_6Option();-->
<!--left_6_myChart.setOption(left_6_option);-->
<!--</script>-->


<!-- right-1 饼图   引用自定义assets/righ1t-1.js文件 -->
<script>
    var right_1_myChart = echarts.init(document.getElementById('right-1'));
    //   var right_1_option = getRight_1Option();
    //   right_1_myChart.setOption(right_1_option);


    function getRight1_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_R1_TransPlatMin",
            yh_data,
            function (data, status) {
//            console.log("Data: " + data + "\nStatus: " + status);
                console.log("-------------YH-------------------")
                console.log(data);
                console.log("--------------YHend------------------")


                var right_1_option = getRight_1Option(data);
                right_1_myChart.setOption(right_1_option);


            }
        );
    }

</script>


<!-- right-2  温度计柱形图  引用自定义assets/right-2.js文件 -->
<script>

    var right_2_myChart = echarts.init(document.getElementById('right-2'));
    //    var right_2_option=getRight_2Option();
    //    right_2_myChart.setOption(right_2_option);

    function getRight2_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_R2_TransComHis",
            yh_data,
            function (data, status) {
//            console.log("Data: " + data + "\nStatus: " + status);
//            console.log("-------------YH-------------------")
//            console.log(data);
//            console.log("--------------YHend------------------")
                var right_2_option = getRight_2Option(data);
                right_2_myChart.setOption(right_2_option);


            }
        );
    }

</script>


<!-- right-3    引用自定义assets/right-3.js文件 -->
<script>
    var right_3_myChart = echarts.init(document.getElementById('right-3'));
    //    var right_3_option=getRight_3Option();
    //    right_3_myChart.setOption(right_3_option);


    function getRight3_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_R3_TransChnlBX",
            yh_data,
            function (data, status) {

                var right_3_option = getRight_3Option(data);
                right_3_myChart.setOption(right_3_option);


            }
        );
    }

</script>


<!--&lt;!&ndash; right-4    引用自定义assets/right-4.js文件 &ndash;&gt;-->
<script>
    var right_4_myChart = echarts.init(document.getElementById('right-4'));
    //    var right_4_option=getRight_4Option();
    //    right_4_myChart.setOption(right_4_option);
    function getRight4_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_R4_TransPlatRate",
            yh_data,
            function (data, status) {

                var right_4_option = getRight_4Option(data);
                right_4_myChart.setOption(right_4_option);


            }
        );
    }
</script>


<!--&lt;!&ndash; right-5    引用自定义assets/right-5.js文件 &ndash;&gt;-->
<!--<script>-->
<!--var right_5_myChart = echarts.init(document.getElementById('right-5'));-->
<!--var right_5_option=getRight_5Option();-->
<!--right_5_myChart.setOption(right_5_option);-->
<!--</script>-->

<!-- right-6  柱形+折线图  引用自定义assets/right-6.js文件 -->
<script>

    var right_6_myChart = echarts.init(document.getElementById('right-6'));
    var right_7_myChart = echarts.init(document.getElementById('right-7'));

    //    var right_6_option=getRight_6Option();
    //    right_6_myChart.setOption(right_6_option);

    function getRight6_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        };
        $.post("get_R6_TransTop10",
            yh_data,
            function (data, status) {

                var right_6_option = getRight_6Option(data);
                right_6_myChart.setOption(right_6_option);

            }
        );
    }

    function getRight7_Count() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        };
        $.post("get_R5_TransTopHD",
            yh_data,
            function (data, status) {
                var right_7_option = getRight_7Option(data);
                right_7_myChart.setOption(right_7_option);

            }
        );
    }

</script>

<script>
    //    时间计数器
    function startCount(startcount, endcount) {
        var countUP_options = {
            useEasing: true,
            useGrouping: true,
            separator: ',',
            decimal: '.',
        };
        console.log(startcount)
        console.log(startcount)
        var demo = new CountUp('num-main-box', startcount, endcount, 0, 61, countUP_options);
        if (!demo.error) {
            demo.start();
        } else {
            console.error(demo.error);
        }

    }

    function getTotCount() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_M1_TransTot",
            yh_data,
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                console.log(data);
                startCount(data.startcount, data.endcount)
            }
        );
    }

    //getTotCount()
    //setInterval("getTotCount()",60000);


</script>


<script>
    //    时间计数器
    function startCount_amt(startcount, endcount) {
        var countUP_options = {
            useEasing: true,
            useGrouping: true,
            separator: ',',
            decimal: '.',
        };
        console.log(startcount)
        console.log(startcount)
        var demo = new CountUp('num-main-box2', startcount, endcount, 0, 61, countUP_options);
        if (!demo.error) {
            demo.start();
        } else {
            console.error(demo.error);
        }

    }

    function getTotCount_amt() {
        var yh_data = {
            "start": 1000,
            "end": 3000
        }
        $.post("get_M2_TransAmt",
            yh_data,
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                console.log(data);
                startCount_amt(data.startcount_amt, data.endcount_amt)
            }
        );
    }

    //getTotCount()
    //setInterval("getTotCount()",60000);


</script>

<script>
    function showTime() {
        var nowtime = new Date();
        var year = nowtime.getFullYear();
        var month = nowtime.getMonth() + 1;
        var date = nowtime.getDate();
        var hours = nowtime.getHours();
        var minu = nowtime.getMinutes();
        var ceconds = nowtime.getSeconds();
        if (minu < 10) {
            minu = "0" + minu;
        }
        if (ceconds < 10) {
            ceconds = "0" + ceconds;
        }
        if (hours < 10) {
            hours = "0" + hours;
        }
        // year=2019
        // month=12
        // date=12
        // hours=23
        // minu=59
        // ceconds=59
        document.getElementById("timeclock").innerText = year + "年" + month + "月" + date + "日   " + hours + " : " + minu + " : " + ceconds;
    }


</script>
<!--setInterval("getTotCount()",1000);-->
<!--getTotCount()-->


<script>

    getTotCount()
    setInterval("getTotCount()", 55000);
    setInterval("showTime()", 1000);
    getLeft1_Count();
    setInterval("getLeft1_Count ()", 60000);

    setInterval("getLeft3_Count ()", 600000);
    getLeft3_Count()
    getLeft4_Count()
    setInterval("getLeft4_Count ()", 600000);
    getTotCount_amt()
    setInterval("getTotCount_amt()", 60000);
    getRight1_Count();
    setInterval("getRight1_Count()", 60000);

    getRight6_Count();
    setInterval("getRight6_Count()", 300000);
    getRight7_Count();
    setInterval("getRight7_Count()", 300000);
    getRight2_Count();
    setInterval("getRight2_Count()", 60000);
    getRight4_Count();
    setInterval("getRight4_Count()", 60000);
    getRight3_Count();
    setInterval("getRight3_Count()", 60000);


</script>


{% endblock %}