{% extends "cloud_file/base.html" %}
{% block content %}


    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>合作行系统成功率检查</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="">

        {% if  search_type == "get" %}
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期选择</label>
                    <div class="layui-input-block">
                        <input type="text" name="date" id="date1" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                </div>
            </div>
        {% endif %}

        {% if  search_type == "search" %}
            <p>{{ search_type }}</p>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期范围选择</label>
                    <div class="layui-input-block">
                        {#                        <input type="text" name="date" id="date1" autocomplete="off" class="layui-input">#}
                        <input lay-verify="required" type="text" name='date_select' size="25" class="layui-input"
                               id="date2" placeholder="请选择日期...">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">搜索选择框</label>
                    <div class="layui-input-inline">
                        <select name="bank_select" lay-verify="required" lay-search="">
                            <p>{{ bank_info_list }}</p>
                            <option value="">直接选择或搜索选择</option>
                            <option value="ALL">所有行</option>
                            {% for bank_info in bank_info_list %}
                                <option value={{ bank_info.yhdm }}>{{ bank_info.yhdm }}_{{ bank_info.name }}_{{ bank_info.name_ch }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo2">马上提交</button>
                </div>
            </div>
        {% endif %}


    </form>

    <hr class="layui-bg-green">
    <table id="demo2" lay-filter="test2"></table>
    <table id="demo" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <!--地方-->
    <!--的分解开来-->
    <!--{# #}-->

    <!--到付即可-->
    <!--数据库-->
    {#{{ trans_info }}#}
    {% comment %}
    {% for foo in trans_info %}
    <p>{{ foo.bank_name|upper }}</p>
    {% endfor %}

        <h1>{{ list }}</h1>



    {% for key, value in info_dict.items %}
        <h1>{{ key }}: {{ value }}</h1>
    {% endfor %}


    {% for line in info_dict %}
        <h1>{{ line.site }}</h1> <h2 style="color: chocolate">{{ line.content }}</h2>
        {% if line.site == "自强学堂" %}
           <p style="color: chocolate">{{ line.site }}</p>


        {% endif %}

    {% endfor %}

    {% for line in list %}
    <h2>{{ line }}</h2>
    {% endfor %}

{% endcomment %}
    <script>
        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate() - 1;
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        }

        function obj2string(o) {
            var r = [];
            if (typeof o == "string") {
                return "\"" + o.replace(/([\'\"\\])/g, "\\$1").replace(/(\n)/g, "\\n").replace(/(\r)/g, "\\r").replace(/(\t)/g, "\\t") + "\"";
            }
            if (typeof o == "object") {
                if (!o.sort) {
                    for (var i in o) {
                        r.push(i + ":" + obj2string(o[i]));
                    }
                    if (!!document.all && !/^\n?function\s*toString\(\)\s*\{\n?\s*\[native code\]\n?\s*\}\n?\s*$/.test(o.toString)) {
                        r.push("toString:" + o.toString.toString());
                    }
                    r = "{" + r.join() + "}";
                } else {
                    for (var i = 0; i < o.length; i++) {
                        r.push(obj2string(o[i]))
                    }
                    r = "[" + r.join() + "]";
                }
                return r;
            }
            return o.toString();
        }

    </script>

    {#    d代表整行#}
    {% verbatim %}
    <script type="text/html" id="sys_rate">
        {{# var data = d.sys_rate ;}}

        {{# if(data >= 99.99){ }}
        <span>{{ data }}%</span>
        {{#  } else { }}
        <h1 style="color: red;">{{ data }}%</h1>
        {{#  } }}
    </script>
    {% endverbatim %}

    <script>

        msg = '{{ trans_info }}'
        console.log(typeof (msg))
        console.log(msg)


        {#json_msg=JSON.stringify(msg)#}
        {#console.log(json_msg[2])#}

        layui.config({
            base: '/static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['form', 'layedit', 'laydate', 'table', 'laytpl', 'laypage'], function () {
            var $ = layui.jquery
                , form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , laytpl = layui.laytpl
                , laypage = layui.laypage
                , table = layui.table;


            laydate.render({
                elem: '#date1'
                , value: getNowFormatDate()
            });
            laydate.render({
                elem: '#date2'
                , range: true
                {#, value: getNowFormatDate()#}
            });


            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                console.log(data.field.date)
                req_data = {'input_data': data.field.date}
                $.post("getData_rateSystem/",
                    req_data,
                    function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status);
                        console.log(data);

                        table.reload('demoReload', {
                            data: data.trans_info
                        });
                        table.reload('demoReload2', {
                            data: data.sum_trans_info
                        });
                        layer.close(index);
                    }
                );
                return false;
            });

            form.on('submit(demo2)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                console.log(data.field)
                req_data = {'input_data': JSON.stringify(data.field)}
                $.post("getData_rateSystemRange/",
                    req_data,
                    function (data, status) {
                        console.log("----------------------------------------------")
                        console.log("Data: " + data + "\nStatus: " + status);
                        console.log("+++++++++++++++++++++++++++++++++++++++++++++")
                        console.log(data);


                        table.reload('demoReload', {
                            data: data.trans_info
                        });

                        table.reload('demoReload2', {
                            data: data.sum_trans_info
                        });
                        layer.close(index);
                    }
                );
                return false;
            });

            table_file_cols = [[ //表头
                {field: 'date', title: '日期', fixed: 'left', sort: true}
                , {field: 'bank_ch_name', title: '合作行名称', sort: true}
                , {field: 'bank_name', title: '合作行简称', sort: true}
                , {field: 'bank_no', title: '行号', sort: true}
                , {field: 'trans_tot', title: '交易总比数', sort: true}
                , {field: 'timeouterr_num', title: '超时笔数', sort: true}
                , {field: 'sqlerr_num', title: 'SQL错误笔数', sort: true}
                , {field: 'sys_rate', title: '系统成功率', sort: true, templet: '#sys_rate'}
                , {fixed: 'right', title: '执行操作', align: 'center', sort: true,toolbar: '#barDemo'}
            ]]

            //第一个实例

            table.render({
                elem: '#demo'
                , id: 'demoReload'
                {#, height: 312#}
                {#,url: '/demo/table/user/' //数据接口#}
                //,page:true   默认分页
                , page: {
                    limit: 20
                    , limits: [20, 40, 60, 80, 100, 120, 140, 160]
                }
                , cols: table_file_cols
                , data: []
            });


            table_file_cols2 = [[ //表头
                {field: 'date', title: '日期', fixed: 'left', sort: true}
                , {field: 'bank_name', title: '合作行名称'}
                , {field: 'sum_trans_tot', title: '交易总比数'}
                , {field: 'sum_timeouterr_num', title: '超时笔数'}
                , {field: 'sum_sqlerr_num', title: 'SQL错误笔数'}
                , {field: 'sys_rate', title: '系统成功率', sort: true,templet: '#sys_rate'}
            ]]


            table.render({
                elem: '#demo2'
                , id: 'demoReload2'
                {#,url: '/demo/table/user/' //数据接口#}
                //,page:true   默认分页

                , cols: table_file_cols2
                , data: []
            });


            {#重载表格数据#}
            {% comment %}
            table.reload('demoReload', {
                data: [{'date': 20200320}]
            });
            {% endcomment %}

            //初始化图标为当天
            index = layer.load(1);
            req_data = {'input_data': getNowFormatDate()}
            $.post("getData_rateSystem/",
                req_data,
                function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    console.log(data);

                    table.reload('demoReload', {
                        data: data.trans_info
                        , page: {
                            limit: 20
                            , limits: [20, 40, 60, 80, 100, 120, 140, 160]
                        }

                    });
                    console.log('-----------------')
                    console.log(data.sum_trans_info)
                    console.log('-----------------')
                    table.reload('demoReload2', {
                        data: data.sum_trans_info
                    });
                    layer.close(index);
                }
            );


            //监听工具条
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    console.log(data)
                    req_data = {'input_data': JSON.stringify(data)}
                    var index = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });

                    $.post("getData_ErrorDetail/",
                        req_data,
                        function (data, status) {
                            console.log("Data: " + data + "\nStatus: " + status);
                            console.log("----------------------------------")
                            console.log(data);
                            console.log("----------------------------------")


                            //页面层
                            layer.open({
                                type: 1,
                                skin: 'layui-layer-rim', //加上边框
                                area: ['420px', '420px'], //宽高
                                content: data.trans_info
                            });


                            layer.close(index);
                        }
                    );


                    {#layer.msg('ID：'+ data.id + ' 的查看操作');#}
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    layer.alert('编辑行：<br>' + JSON.stringify(data))
                }
            });


        });
    </script>

{% endblock %}

