{% extends "base.html" %}
{% block content %}

    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <!-- 头部区域 -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect>
                        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="#" target="_blank" title="前台">
                            <i class="layui-icon layui-icon-website"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;" layadmin-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                    <!--
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
                               layadmin-event="serach" lay-action="search_problem/search?keywords=">
                    </li>
                    -->
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
                               layadmin-event="serach" lay-action="search_problem/search?keywords=">
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a lay-href="/search_problem/new/?type=req"> <u><span style="color:#337FE5;">我要提问</span></u></a>

                    </li>

                </ul>
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                    <li class="layui-nav-item" lay-unselect>
                        <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                            <i class="layui-icon layui-icon-notice"></i>

                            <!-- 如果有新消息，则显示小圆点 -->
                            <span class="layui-badge-dot"></span>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="theme">
                            <i class="layui-icon layui-icon-theme"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="note">
                            <i class="layui-icon layui-icon-note"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="fullscreen">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;">
                            <cite>{{ user_id }}</cite>
                        </a>
                        {% if user_id == '未登陆' %}
                            <dl class="layui-nav-child">
                                <dd><a href="/myview/login_index/">登陆用户</a></dd>
                                <!--                        <dd><a lay-href="register_index">注册用户</a></dd>-->
                            </dl>
                        {% else %}
                            <dl class="layui-nav-child">
                                {% comment %}<dd><a lay-href="set/user/info.html">基本资料</a></dd>
                        <dd><a lay-href="set/user/password.html">修改密码</a></dd>{% endcomment %}
                                <dd><a href="/admin/">管理中心</a></dd>
                                <hr>
                                <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                            </dl>
                        {% endif %}
                    </li>
                    <li class="layui-nav-item">
                        <p style="color:#E53333;" id="get_score">积分：<span id="num1"></span></p>
                        <span id="num1"></span>
                        <span id="num2"></span>
                    </li>

                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="about"><i
                                class="layui-icon layui-icon-more-vertical"></i></a>
                    </li>
                    <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                        <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                    </li>
                </ul>
            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo" lay-href="home/console.html">
                        <span>兴业数金鲲鹏管理平台</span>
                    </div>

                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                        lay-filter="layadmin-system-side-menu">
                        <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;" lay-tips="主页" lay-direction="2">
                                <i class="layui-icon layui-icon-home"></i>
                                <cite>主页</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console" class="layui-this">
                                    <a lay-href="console.html">控制台</a>
                                </dd>
                                <dd data-name="console">
                                    <a lay-href="http://163.1.6.40:19099/myview/src/views/myview/tools/ops_info/index.html">产品通讯录</a>
                                </dd>
                                <dd data-name="console">
                                    <a lay-href="http://163.1.6.40:19099/myview/src/views/myview/tools/aml_view/aml.html">反洗钱前端管理工具</a>
                                </dd>


                                <!--                            <dd data-name="console"><a lay-href="myview/process/building_info.html">信息共享平台</a></dd>-->
                                <dd data-name="console">
                                    <!--<a lay-href="http://163.1.6.40:19099/myview/src/views/myview/png/201910_schedule.png">值班表</a>-->
                                    <a lay-href="/static/app/rota_day/zbb.png">值班表</a>
                                </dd>

                            </dl>
                        </li>
                        <!--
                                                <li data-name="report" class="layui-nav-item">
                                                    <a href="javascript:;" lay-tips="CMDB" lay-direction="2">
                                                        <i class="layui-icon layui-icon-senior"></i>
                                                        <cite>CMDB</cite>
                                                    </a>
                                                    <dl class="layui-nav-child">
                                                        <dd data-name="console"><a lay-href="/cmdb/cmdb_plat_info/">产品信息</a></dd>
                                                    </dl>
                                                </li>
                        -->
                        <li data-name="structure" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="小鲲知道" lay-direction="2">
                                <i class="layui-icon layui-icon-component"></i>
                                <cite>小鲲知道</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console"><a lay-href="/search_problem/new/?type=input">录入知识卡片</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/list/">问题管理</a></dd>
                            </dl>
                        </li>
                        <li data-name="structure" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="运营数据" lay-direction="2">
                                <i class="layui-icon layui-icon-component"></i>
                                <cite>运营数据</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console"><a lay-href="/trans_zl_helloworld/abcd/show">运营看板</a></dd>
                                <dd data-name="console"><a lay-href="/qq_data/show/">QQ运营数据分析</a></dd>
                                <dd data-name="console"><a lay-href="/qq_data/myview/show/">鲲鹏数据分析</a></dd>
                                <dd data-name="console"><a lay-href="/qq_data/search_problem/show/">小鲲知道数据分析</a></dd>
                                <dd data-name="console"><a lay-href="/qq_data/search_problem/score/">小鲲知道积分分析</a></dd>
                            </dl>
                        </li>
                        <li data-name="report" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="交易查询" lay-direction="2">
                                <i class="layui-icon layui-icon-senior"></i>
                                <cite>交易查询</cite>
                            </a>
                            <dl class="layui-nav-child">

                                <dd data-name="console">
                                    <a lay-href="/trans_dlzf/">代理支付交易查询</a>
                                </dd>
                                <dd data-name="console">
                                    <a lay-href="/trans_bwpt/">金卡交易查询</a>
                                </dd>
                                <dd data-name="console">
                                    <a lay-href="/chkpcl_server/">V3核心日结查询</a>
                                </dd>
                                <dd data-name="console">
                                    <a lay-href="/trans_fxq_report/">反洗钱人行重点指标查询</a>
                                </dd>
                            </dl>
                        </li>


                        <li data-name="structure" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="数据安全" lay-direction="2">
                                <i class="layui-icon layui-icon-component"></i>
                                <cite>数据安全</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console"><a lay-href="/data_control/">数据加密传输</a></dd>
                            </dl>
                        </li>
                        <!--
                                                <li data-name="structure" class="layui-nav-item">
                                                    <a href="javascript:;" lay-tips="应急手册" lay-direction="2">
                                                        <i class="layui-icon layui-icon-component"></i>
                                                        <cite>应急手册</cite>
                                                    </a>
                                                    <dl class="layui-nav-child">
                                                        <dd data-name="console"><a lay-href="/cloud_file/?file_path=/">应急方案</a></dd>
                                                    </dl>
                                                </li>
                                                -->


                        <!--
                        <li data-name="structure" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="鲲鹏作业平台" lay-direction="2">
                                <i class="layui-icon layui-icon-component"></i>
                                <cite>鲲鹏作业平台</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console">
                                    <a lay-href="http://163.1.6.40:19099/myview/src/views/myview/process/code.html">快速脚本执行</a>
                                </dd>
                                <dd data-name="console"><a
                                        lay-href="http://163.1.6.40:19099/myview/src/views/myview/process/building.html">快速文件分发</a>
                                </dd>
                                <dd data-name="console"><a
                                        lay-href="http://163.1.6.40:19099/myview/src/views/myview/process/building.html">快速执行SQL脚本</a>
                                </dd>
                                <dd data-name="console"><a
                                        lay-href="http://163.1.6.40:19099/myview/src/views/myview/process/building.html">常用作业执行</a>
                                </dd>
                                <dd data-name="console"><a
                                        lay-href="http://163.1.6.40:19099/myview/src/views/myview/process/building.html">新建作业</a>
                                </dd>
                                <dd data-name="console"><a
                                        lay-href="http://163.1.6.40:19099/myview/src/views/myview/process/building.html">定时作业</a>
                                </dd>
                            </dl>
                        </li>
-->
                        <!--
                                                <li data-name="structure" class="layui-nav-item">
                                                    <a href="javascript:;" lay-tips="架构可视化" lay-direction="2">
                                                        <i class="layui-icon layui-icon-app"></i>
                                                        <cite>架构可视化</cite>
                                                    </a>
                                                    <dl class="layui-nav-child">
                                                        <dd data-name="console">
                                                            <a lay-href="http://163.1.6.40:19099/myview/src/views/myview/structure/structure.html?id=BATCH">批处理调度</a>
                                                        </dd>
                                                        <dd data-name="console">
                                                            <a lay-href="http://163.1.6.40:19099/myview/src/views/myview/structure/structure.html?id=NETWORK">网络架构图</a>
                                                        </dd>
                                                        <dd data-name="console"><a href="http://47.104.161.53/yh_echart/kb10/index.html"
                                                                                   target="_blank">演示监控A</a></dd>
                                                        <dd data-name="console"><a href="http://47.104.161.53/yh_echart/kb15/index.html"
                                                                                   target="_blank">演示监控B</a></dd>
                                                        <dd data-name="console"><a href="http://47.104.161.53/yh_echart/kb6/index.html"
                                                                                   target="_blank">演示监控C</a></dd>
                                                        <dd data-name="console"><a href="http://47.104.161.53/yh_echart/kb27/index.html"
                                                                                   target="_blank">演示监控D</a></dd>
                                                        <dd data-name="console"><a href="http://47.104.161.53/yh_echart/min3/min3/index.html"
                                                                                   target="_blank">演示监控E</a></dd>

                                                    </dl>
                                                </li>

                        -->
                        <li data-name="structure" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="工作流程" lay-direction="2">
                                <i class="layui-icon layui-icon-app"></i>
                                <cite>工作流程</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console"><a
                                        lay-href="https://www.processon.com/view/link/5d1d9203e4b05dcb43965587">数据分析工作流程</a>
                                </dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/721/">合作行日常通知人员表</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/475/">故障报告流程</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/474/">紧急变更流程</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/486/">短信发送流程</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/472/">核心批处理中断处理流程</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/570/">补单流程</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/571/">报警跟踪流程</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/692/">运营看板划分标准</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/693/">运营看板上报细则</a></dd>
                                <dd data-name="console"><a lay-href="/search_problem/show/694/">A类重要信息系统</a></dd>
                            </dl>
                        </li>


                        <li data-name="senior" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="小鲲数据中台" lay-direction="2">
                                <i class="layui-icon layui-icon-auz"></i>
                                <cite>小鲲数据中台</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console"><a lay-href="/data_api/">DATA_API 目录</a></dd>
                                <dd data-name="console"><a lay-href="/admin/data_api/api/">DATA_API 管理</a></dd>
                            </dl>
                        </li>

                        <!--                        <li data-name="senior" class="layui-nav-item">-->
                        <!--                            <a href="javascript:;" lay-tips="应急手册" lay-direction="2">-->
                        <!--                                <i class="layui-icon layui-icon-auz"></i>-->
                        <!--                                <cite>应急手册</cite>-->
                        <!--                            </a>-->
                        <!--                            <dl class="layui-nav-child">-->
                        <!--                                <dd data-name="echarts">-->
                        <!--                                    <a href="javascript:;">反洗钱系统</a>-->
                        <!--                                    <dl class="layui-nav-child">-->
                        <!--                                        <dd><a lay-href="http://163.1.6.40:19099/myview/src/views/myview/test/a.html">AAA</a>-->
                        <!--                                        </dd>-->
                        <!--                                        <dd><a lay-href="http://163.1.6.40:19099/myview/src/views/myview/test/b.html">BBB</a>-->
                        <!--                                        </dd>-->
                        <!--                                    </dl>-->
                        <!--                                </dd>-->
                        <!--                            </dl>-->
                        <!--                        </li>-->
                        <li data-name="senior" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="交易监控" lay-direction="2">
                                <i class="layui-icon layui-icon-auz"></i>
                                <cite>交易监控</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="echarts">
                                    <a href="javascript:;">代理网联</a>
                                    <dl class="layui-nav-child">
                                        <a href="/monitor_wx_zfb/monitor" target=”_blank">中心驾驶舱</a>
                                    </dl>
                                </dd>
                                <dd data-name="echarts">
                                    <a href="javascript:;">年终决算</a>
                                    <dl class="layui-nav-child">
                                        <a href="/monitor_nzjs/" target=”_blank">驾驶舱</a>
                                        <a href="/monitor_nzjs/?sound=OPEN" target=”_blank">驾驶舱（语音）</a>
                                    </dl>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 页面标签 -->
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i
                                class="layui-icon layui-icon-home"></i></li>
                    </ul>
                </div>
            </div>


            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe src="console.html" frameborder="0" class="layadmin-iframe"></iframe>
                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>

    <script>
        layui.use(['jquery', 'layer'], function () {
            var $ = layui.$ //重点处
                , layer = layui.layer;

            var options = {
                useEasing: true,  // 过渡动画效果，默认ture
                useGrouping: true,  // 千分位效果，例：1000->1,000。默认true
                separator: ',',   // 使用千分位时分割符号
                decimal: '.',   // 小数位分割符号
                prefix: '',    // 前置符号
                suffix: ''    // 后置符号，可汉字
            };


            var tmp_num = 0;

            function get_score() {
                // var index = layer.load(1);
                $.post("get_score/",
                    {},
                    function (data, status) {
                        console.log(data);
                        // dom节点, 初始值,  结束值, 小数位数, 过渡几秒 , 初始参数
                        var num1 = new CountUp('num1', tmp_num, data.score, 0, 2, options);
                        num1.start();
                        tmp_num = data.score
                        // $("p#get_score").text(data.score);
                        // layer.close(index);
                    }
                );
            }

            get_score();
            setInterval(get_score, 5000);

            //后面就跟你平时使用jQuery一样
            $.get("add_connect", {search_data: "", search_mode: "", search_par3: ""}, function (respData) {
                console.log('add_connect');
            });
        });

    </script>
{% endblock %}