{% extends "search_problem/base.html" %}
{% block content %}

    <!-- 这段非常重要，决定上传文件缩略图的大小 -->
    <style>
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
    </style>

    <!--
                    //t.push('<li title="' + e + '"><img src="' + i + '" alt="' + e + '" style="width: 92px;"></li>')
    -->

    <form class="layui-form" action="" lay-filter="example">


        <blockquote class="layui-elem-quote layui-text">
            问题信息
            <!--<a href="#">如何提问？</a>-->
        </blockquote>
        <!--
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <textarea name="title" placeholder="一句完整的描述您的问题" class="layui-textarea"></textarea>
            </div>
        </div>
        -->
        <div class="layui-form-item">
            <label class="layui-form-label">标题*</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="一句完整的描述您的问题"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">交易码</label>
                <div class="layui-input-inline">
                    <input type="text" name="trans_code" autocomplete="off" placeholder="核心交易报错问题填写"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">报错信息</label>
            <div class="layui-input-block">
                <input type="text" name="trans_err" autocomplete="off" placeholder="核心交易报错问题填写" class="layui-input">
            </div>
        </div>
        {% if type != 'input' %}

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">合作行</label>
                    <div class="layui-input-inline">
                        <!--
                            <select name="bank_id" lay-search="" lay-verify="required" lay-filter="select_filter">
                            -->
                        <select name="bank_id" lay-search="" lay-filter="select_filter">
                            <option value="">输入合作行大写字母</option>
                            {% for line in bank_info %}
                                <option value="{{ line.name_ch }}_{{ line.name }}_{{ line.yhdm }}">{{ line.name_ch }}_{{ line.name }}_{{ line.yhdm }}</option>
                            {% endfor %}
                        </select></div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">客户名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="bank_oper" autocomplete="off" placeholder="客户名字或昵称"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-block">
                        <select name="problem_source" lay-filter="aihao">
                            <option value="">请选择</option>
                            <!--<option value="QQ" selected="">QQ</option>-->
                            <option value="QQ">QQ</option>
                            <option value="WX">微信</option>
                            <option value="NB">内部</option>
                        </select>
                    </div>
                </div>
            </div>
        {% endif %}
        <!--
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">说明</label>
                    <div class="layui-input-block">
                        <textarea name="info" placeholder="详细说明问题，以便获得更好的回答（选填）" class="layui-textarea"></textarea>
                    </div>
                </div>
        -->
        <!--
            <div class="layui-collapse" lay-filter="test">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">添加详细说明</h2>
                    <div class="layui-colla-content">
                        <div class="layui-form-item">
                            <label class="layui-form-label">说明</label>
                            <div class="layui-input-block">
                                <textarea id="fwb_text" style="display: none;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        -->
        <!-- 富文本输入框 -->
        <div class="layui-form-item">
            <label class="layui-form-label">说明</label>
            <div class="layui-input-block">
                <textarea id="fwb_text" style="display: none;"></textarea>
            </div>
        </div>
        {% if type == 'input' %}
            <blockquote class="layui-elem-quote layui-text">
                解决方案
            </blockquote>
            <!-- 富文本输入框 -->
            <div class="layui-form-item">
                <label class="layui-form-label">答案</label>
                <div class="layui-input-block">
                    <textarea id="fwb_text_answer" style="display: none;"></textarea>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">方案提供人</label>
                        <div class="layui-input-inline">
                            <select name="answer_oper" lay-verify="required" lay-search="" lay-filter="select_filter2">
                                <option value="">直接选择人员</option>
                                {% for line in oper %}
                                    <option value="{{ line.first_name }}">{{ line.first_name }}_{{ line.username }}</option>
                                {% endfor %}
                            </select></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">渠道</label>
                        <div class="layui-input-inline">
                            <select name="comm_i_info_channel" lay-verify="required" lay-search=""
                                    lay-filter="select_filter2">
                                <option value="">直接选择</option>
                                {% for line in comm_i_info_channel %}
                                    <option value="{{ line.code }}">{{ line.name }}</option>
                                {% endfor %}
                            </select></div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-inline">
                            <select name="comm_i_info_type" lay-verify="required" lay-search=""
                                    lay-filter="select_filter2">
                                <option value="">直接选择</option>
                                {% for line in comm_i_info_type %}
                                    <option value="{{ line.code }}">{{ line.name }}</option>
                                {% endfor %}
                            </select></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-upload-drag" id="test10">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                    <div class="layui-hide" id="uploadDemoView">
                        <hr>
                        <img src="" alt="上传成功后渲染" style="max-width: 196px">
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>


    </form>



    <script>
        layui.config({
            base: '/static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['table', 'upload', 'form', 'layedit', 'element', 'layer'], function () {
            var $ = layui.jquery
                , upload = layui.upload
                , form = layui.form
                , layedit = layui.layedit
                , element = layui.element
                , layer = layui.layer
                , table = layui.table;


            // 配置富文本编辑器
            layedit.set({
                uploadImage: {
                    url: 'new_text_upload/' //接口url
                    , type: 'post' //默认post
                }
            });
            var index = layedit.build('fwb_text'); //建立编辑器
            var index_answer = layedit.build('fwb_text_answer'); //建立编辑器


            //监听提交
            form.on('submit(demo1)', function (data) {
                console.log(layedit.getContent(index));
                console.log(data);
                req_data = {
                    input_data: JSON.stringify(data.field)
                    , fwb_data: layedit.getContent(index)
                    , fwb_text_answer: layedit.getContent(index_answer)
                    , type: '{{ type }}'
                };

                $.post("submit/",
                    req_data,
                    function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status);
                        console.log(data);

                        layer.msg(data.msg, {
                            time: 60000, //20s后自动关闭
                            btn: ['知道了']
                        });
                    }
                );
                return false;
            });

            //拖拽上传
            upload.render({
                elem: '#test10'
                , url: '/search_problem/upload/file/' //改成您自己的上传接口
                , accept: 'file'
                , done: function (res) {
                    layer.msg('上传成功');
                    var text = layedit.getContent(index_answer);
                    console.log(text);
                    //layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.files.file);
                    // <p><a target="_blank" href="http://ora.com"><b><u>http://ora.com</u></b></a><br></p>
                    //$("#fwb_text").val(text + '<p><a target="_blank" href="' + res.data.src + '"><b><u>' + res.data.src + '</u></b></a><br></p>');//先赋值
                    $("#fwb_text_answer").val(text + '<p><a target="_blank" href="' + res.data.src + '"><b><u>' + res.data.file_name + '</u></b></a><br></p>');//先赋值
                    //$("#fwb_text").val(text);
                    index_answer = layedit.build('fwb_text_answer');//渲染build
                    console.log(res)
                }
            });


        });
    </script>
{% endblock %}