{% extends "search_problem/base.html" %}
{% block content %}

    <form class="layui-form" action="" lay-filter="example">




        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>


    </form>



    <script>
        layui.config({
            base: '/static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['table', 'upload', 'form', 'layedit'], function () {
            var $ = layui.jquery
                , upload = layui.upload
                , form = layui.form
                , layedit = layui.layedit
                , table = layui.table;

            req_data = {};

            table_file_cols = [[ //标题栏
                {field: 'id', title: 'ID', width: 80, sort: true}
                , {field: 'count_sum', title: '热度', width: 100}
                , {field: 'title', title: '标题', width: 400}
                , {field: 't_stat_name', title: '进展', width: 80, sort: true}
                , {field: 'info__channel_name', title: '渠道', width: 80, sort: true}
                , {field: 'info__type_name', title: '类型', width: 120, sort: true}

            ]];
            table.render({
                elem: '#demo'
                , id: 'testReload' //ID用于表格重载
                , cols: table_file_cols
                , initSort: {field: 'count_sum', type: 'desc'}

                , data: []
                //,skin: 'line' //表格风格
                , even: true
                , page: true //是否显示分页
                // , limits: [5, 7, 10]
                , limit: 10 //每页默认显示的数量
            });


            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                console.log(data);

                return false;
            });


        });
    </script>
{% endblock %}