{% extends "cmdb/base.html" %}
{% block content %}


    <form class="layui-form" action="" lay-filter="example">

        <table class="layui-hide" id="test"></table>

    </form>




    {{ req.date }}
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                //, url: '/demo/table/user/'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    {field: 'plat_name', width: 200, title: '产品', sort: true}
                    , {field: 'plat_id', width: 200, title: 'ID', sort: true}
                    , {field:'v2_count', width:80, title: 'V2', sort: true}
                    , {field:'v3_count', width:80, title: 'V3', sort: true}
                    , {field:'bank_stat_0_count', width:80, title: '启用', sort: true}
                    , {field:'bank_stat_1_count', width:80, title: '停用', sort: true}
                    , {field:'bank_not_set', width:100, title: '未配置', sort: true}
                ]]
                , data: []
            });

            table.reload('test', {
                url: 'get_plat_info/'
            });

        });
    </script>
{% endblock %}