{% extends "cmdb/base.html" %}
{% block content %}


    <form class="layui-form" action="" lay-filter="example">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属产品</label>
                <div class="layui-input-inline">
                    <select name="plat_info" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        {% for line in plat_info %}
                            <option value="{{ line.plat_id }}">{{ line.plat_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属服务器</label>
                <div class="layui-input-inline">
                    <select name="sys_info" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        {% for line in sys_info %}
                            <option value="{{ line.id }}">{{ line.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">合作行</label>
                <div class="layui-input-inline">
                    <select name="bank_info" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        {% for line in bank_info %}
                            <option value="{{ line.id }}">{{ line.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="kp_submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>




    {{ req.date }}
    <script>
        layui.use(['table', 'layer', 'form'], function () {
            var $ = layui.jquery
                , layer = layui.layer
                , form = layui.form
                , table = layui.table;

            //监听提交
            form.on('submit(kp_submit)', function (data) {
                console.log(data);
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                return false;
            });

        });
    </script>
{% endblock %}