{% extends "cmdb/base.html" %}
{% block content %}


    <form class="layui-form" action="" lay-filter="example">

        <div class="layui-inline">
            <label class="layui-form-label">选择合作行</label>
            <div class="layui-input-inline">
                <select name="bank_id" lay-verify="required" lay-search="">
{#                    <option value="">直接选择或搜索选择</option>#}
                    <!--                    <option value="{{ name.bank_id }}">{{ name.bank_id }}_{{ name.bank_name }}</option>-->
                    {% for name in req %}
                        <option value="{{ name.bank_id }}">{{ name.bank_id }}_{{ name.bank_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">操作</label>
            <div class="layui-input-inline">
                <select name="acct_type" lay-verify="required">
                    <option value="DB">通过config.ini同步源库</option>
{#                    <option value="FILE">通过源库同步config.ini</option>#}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="transSearch">执行同步</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>




    {{ req.date }}
    <script>
        //一般直接写在一个js文件中
        layui.use(['layer', 'form', 'element', 'table', 'laydate'], function () {
            var layer = layui.layer
                , form = layui.form
                , laydate = layui.laydate
                , $ = layui.jquery;



            //监听提交
            form.on('submit(transSearch)', function (data) {
                //layer.msg(JSON.stringify(data.field));
                console.log(JSON.stringify(data.field));
                obj_data = data.field;
                var index = layer.load(0);
                $.post("post/",
                    data.field,
                    function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status);
                        console.log(data);
                        layer.msg(data.msg);
                        layer.close(index);
                    }
                );

                return false;
            });





        });
    </script>
{% endblock %}